name: Quality

# **What it does**: Runs dependency review, license checks, and linting for plugins.
# **Why we have it**: Used by other workflows to ensure code quality and compliance.

on:
  workflow_call:
    inputs:
      license-check:
        description: 'Check licenses.'
        required: false
        type: boolean
        default: false
      license-check-allowed-additional:
        description: 'A semicolon seperated list of additional licenses to allow.'
        required: false
        type: string
        default: ''
      lint:
        description: 'Set to true to run linting scripts.'
        required: false
        default: false
        type: boolean

jobs:
  dependency-review:
    name: Dependency Review
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Dependency review
        uses: actions/dependency-review-action@40c09b7dc99638e5ddb0bfd91c1673effc064d8a # v4.8.1

  license-check:
    if: >
      !failure() &&
      !cancelled() &&
      inputs.license-check == true
    name: Check Licenses
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          check-latest: true
          node-version: lts/*

      - name: Install dependencies
        run: npm i --ignore-scripts

      - name: Check Licenses
        env:
          ALLOWED_ADDITIONAL: ${{ inputs.license-check-allowed-additional }}
        run: npx license-checker --production --summary --onlyAllow="0BSD;Apache-2.0;BlueOak-1.0.0;BSD-2-Clause;BSD-3-Clause;ISC;MIT;$ALLOWED_ADDITIONAL"

  linter:
    name: Lint Code
    if: >
      !failure() &&
      !cancelled() &&
      inputs.lint == true
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          check-latest: true
          node-version: lts/*

      - name: Install dependencies
        run: npm i --ignore-scripts

      - name: Lint code
        run: npm run lint