name: Plugin CI

on:
  workflow_call:
    inputs:
      auto-merge-exclude:
        description: 'A comma separated list of packages that you do not want to be auto-merged.'
        required: false
        default: 'fastify'
        type: string
      lint:
        description: 'Set to true to run linting scripts.'
        required: false
        default: false
        type: boolean

jobs:
  linter:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Skip lint
        if: ${{ inputs.lint == false}}
        run: exit 0
      - uses: actions/checkout@v2
        if: ${{ inputs.lint == true}}
      - name: Use Node.js
        if: ${{ inputs.lint == true}}
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install Dependencies
        if: ${{ inputs.lint == true}}
        run: npm i --ignore-scripts
      - name: Lint code
        if: ${{ inputs.lint == true}}
        run: npm run lint

  test:
    needs: linter
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        node-version: [10, 12, 14, 16]
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm i --ignore-scripts
      - name: Run Tests
        run: npm test

  automerge:
    needs: test
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          exclude: ${{ inputs.auto-merge-exclude }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: major
