name: Plugin CI - PostgreSQL

on:
  workflow_call:
    inputs:
      auto-merge-exclude:
        description: 'A comma separated list of packages that you do not want to be auto-merged.'
        required: false
        default: 'fastify'
        type: string
      license-check:
        description: 'Check licenses'
        required: false
        type: boolean
        default: false
      lint:
        description: 'Set to true to run linting scripts.'
        required: false
        default: false
        type: boolean

jobs:
  dependency-review:
    name: Dependency Review
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Dependency review
        uses: actions/dependency-review-action@v2

  license-check:
    if: >
      !failure() &&
      !cancelled() &&
      inputs.license-check == true
    name: Check Licenses
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm i --ignore-scripts

      - name: Check Licenses
        run: npx license-checker --production --onlyAllow="MIT;ISC;BSD-3-Clause;BSD-2-Clause"

  linter:
    name: Lint Code
    needs: license-check
    if: >
      !failure() &&
      !cancelled() &&
      inputs.lint == true
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm i

      - name: Lint code
        run: npm run lint

  test:
    name: Node.js ${{ matrix.node-version }} - ${{ matrix.db }}
    needs: linter
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        node-version: [14, 16, 18]
        os: [ubuntu-latest]
        db: ['postgres:11-alpine']

    services:
      postgres:
        image: ${{ matrix.db }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - '5432:5432'
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repo
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm i --ignore-scripts

      - name: CI environment setup
        run: >
          npm i node-gyp 
          sudo apt-get install -yqq libpq-dev postgresql-client
          chmod 600 .pgpass
          PGPASSFILE=.pgpass psql -h localhost -p ${{
          job.services.postgres.ports[5432] }} -d postgres -c 'CREATE TABLE
          users(id serial PRIMARY KEY, username VARCHAR (50) NOT NULL);' -U
          postgres

      - name: Run tests
        run: npm test

  automerge:
    name: Automerge Dependabot PRs
    if: >
        github.event_name == 'pull_request' &&
        github.event.pull_request.user.login == 'dependabot[bot]'
    needs: test
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          exclude: ${{ inputs.auto-merge-exclude }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: major
