name: Plugin CI

on:
  workflow_call:
    inputs:
      auto-merge-exclude:
        description: 'A semicolon seperated list of packages that you do not want to be auto-merged.'
        required: false
        default: 'fastify'
        type: string
      license-check:
        description: 'Check licenses.'
        required: false
        type: boolean
        default: false
      license-check-allowed-additional:
        description: 'A semicolon seperated list of additional licenses to allow.'
        required: false
        type: string
        default: ''
      lint:
        description: 'Set to true to run linting scripts.'
        required: false
        default: false
        type: boolean
      fastify-dependency-integration:
        description: 'Set to true to run fastify tests with the (proposed) changes.'
        required: false
        default: false
        type: boolean
      node-versions:
        description: 'A JSON array that specifies the Node.js versions on which the job should run.'
        required: false
        default: '["20", "22", "24"]'
        type: string

jobs:
  quality-check:
    uses: ./.github/workflows/nested-quality.yml
    permissions:
      contents: read
    secrets: inherit
    with:
      license-check: ${{ inputs.license-check }}
      license-check-allowed-additional: ${{ inputs.license-check-allowed-additional }}
      lint: ${{ inputs.lint }}

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        node-version: ${{ fromJson(inputs.node-versions) }}
        os: [macos-latest, ubuntu-latest, windows-latest]
        exclude:
          - os: macos-latest
            node-version: 10
          - os: macos-latest
            node-version: 12
          - os: macos-latest
            node-version: 14
          - os: macos-latest
            node-version: 16
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          check-latest: true
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm i --ignore-scripts

      - name: Run tests
        run: npm test

  fastify-dependency-integration:
    name: Test Fastify Integration
    runs-on: ubuntu-latest
    if: >
      !failure() &&
      !cancelled() &&
      inputs.fastify-dependency-integration == true
    permissions:
      contents: read
    steps:
      - name: Check out repo
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          check-latest: true
          node-version: lts/*

      - name: Install dependencies
        run: npm i --ignore-scripts

      - name: Test Fastify Integration
        run: |
          npm link &&
          PACKAGE_NAME=$(node -p "require('./package.json').name")
          git clone https://github.com/fastify/fastify.git --depth 1 &&
          cd fastify &&
          npm i --ignore-scripts &&
          npm link "$PACKAGE_NAME" &&
          npm run unit

  automerge:
    name: Automerge Dependabot PRs
    if: >
        always() &&
        needs.test.result == 'success' &&
        (needs.fastify-dependency-integration.result == 'success' || needs.fastify-dependency-integration.result == 'skipped') &&
        github.event_name == 'pull_request' &&
        github.event.pull_request.head.repo.full_name == github.repository &&
        github.event.pull_request.user.login == 'dependabot[bot]'
    needs: [fastify-dependency-integration, quality-check, test]
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@1b2ed42db8f9d81a46bac83adedfc03eb5149dff # v3.11.2
        with:
          exclude: ${{ inputs.auto-merge-exclude }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: major
