name: Benchmark PR

on:
  workflow_call:
    inputs:
      npm-script:
        type: string
        default: benchmark
        required: false

jobs:
  benchmark:
    if: ${{ github.event.label.name == 'benchmark' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      PR-BENCH-18: ${{ steps.benchmark-pr.outputs.BENCH_RESULT_18 }}
      PR-BENCH-20: ${{ steps.benchmark-pr.outputs.BENCH_RESULT_20 }}
      PR-BENCH-21: ${{ steps.benchmark-pr.outputs.BENCH_RESULT_21 }}
      DEFAULT-BENCH-18: ${{ steps.benchmark-default.outputs.BENCH_RESULT_18 }}
      DEFAULT-BENCH-20: ${{ steps.benchmark-default.outputs.BENCH_RESULT_20 }}
      DEFAULT-BENCH-21: ${{ steps.benchmark-default.outputs.BENCH_RESULT_21 }}

    strategy:
      matrix:
        node-version: [18, 20, 21]
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          ref: ${{github.event.pull_request.head.sha}}
          repository: ${{github.event.pull_request.head.repo.full_name}}

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install
        run: |
          npm install --ignore-scripts

      - name: Run benchmark
        id: benchmark-pr
        run: |
          echo 'BENCH_RESULT_${{matrix.node-version}}<<EOF' >> $GITHUB_OUTPUT
          npm run --silent ${{inputs.npm-script}} >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          ref: refs/heads/${{github.event.pull_request.base.repo.default_branch}}
          repository: ${{github.event.pull_request.base.repo.full_name}}

      - name: Install
        run: |
          npm install --ignore-scripts

      - name: Run benchmark
        id: benchmark-default
        run: |
          echo 'BENCH_RESULT_${{matrix.node-version}}<<EOF' >> $GITHUB_OUTPUT
          npm run --silent ${{inputs.npm-script}} >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT

  output-benchmark:
    needs:
      - benchmark
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: |
            **Node**: 18
            **${{github.event.pull_request.head.ref}}**:
            ```
            ${{ needs.benchmark.outputs.PR-BENCH-18 }}
            ```
            **${{ github.event.repository.default_branch }}**:
            ```
            ${{ needs.benchmark.outputs.DEFAULT-BENCH-18 }}
            ```
            
            ---
            
            **Node**: 20
            **${{github.event.pull_request.head.ref}}**:
            ```
            ${{ needs.benchmark.outputs.PR-BENCH-20 }}
            ```
            **${{ github.event.repository.default_branch }}**:
            ```
            ${{ needs.benchmark.outputs.DEFAULT-BENCH-20 }}
            ```
            
            ---
            
            **Node**: 21
            **${{github.event.pull_request.head.ref}}**:
            ```
            ${{ needs.benchmark.outputs.PR-BENCH-21 }}
            ```
            **${{ github.event.repository.default_branch }}**:
            ```
            ${{ needs.benchmark.outputs.DEFAULT-BENCH-21 }}
            ```
