name: Plugin CI - PostgreSQL

on:
  workflow_call:
    inputs:
      auto-merge-exclude:
        description: 'A comma separated list of packages that you do not want to be auto-merged.'
        required: false
        default: 'fastify'
        type: string

jobs:
  dependency-review:
      name: Dependency Review
      if: github.event_name == 'pull_request'
      runs-on: ubuntu-latest
      permissions:
        contents: read
      steps:
          - name: Check out repo
            uses: actions/checkout@v3

          - name: Dependency review
            uses: actions/dependency-review-action@v1

  test:
    permissions:
      contents: read

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [14, 16, 18]
        os: [ubuntu-latest]
        db: [postgres:11-alpine]

    name: Node.js ${{ matrix.node }} - ${{ matrix.db }}
    services:
      postgres:
        image: ${{ matrix.db }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - '5432:5432'
        options: >-
          --health-cmd pg_isready --health-interval 10s --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Dependencies
        run: npm i --ignore-scripts

      - name: CI environment setup
        run: >
          npm i node-gyp 
          sudo apt-get install -yqq libpq-dev postgresql-client
          chmod 600 .pgpass
          PGPASSFILE=.pgpass psql -h localhost -p ${{
          job.services.postgres.ports[5432] }} -d postgres -c 'CREATE TABLE
          users(id serial PRIMARY KEY, username VARCHAR (50) NOT NULL);' -U
          postgres

      - name: Run Tests
        run: npm test

  automerge:
    if: >
        github.event_name == 'pull_request' &&
        github.event.pull_request.user.login == 'dependabot[bot]'
    needs: test
    permissions:
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          exclude: ${{ inputs.auto-merge-exclude }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          target: major
