name: release

on:
  workflow_dispatch:
    inputs:
      semver:
        description: 'The semver to use'
        required: true
        default: 'patch'
  pull_request:
    types: [closed]

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          check-latest: true
          node-version: lts/*
      - uses: nearform-actions/optic-release-automation-action@9e3518763346efacba15d729d0faaa4cbd8fdd52 # v4.12.3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          semver: ${{ github.event.inputs.semver }}
          sync-semver-tags: true
